html, body, #root, #app {
  width: 100%;
  height: 100%;
}

.tile-image, .remaining-tile-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.player-grid {
  width: 700px;
  height: 600px;
}

.top-row, .bottom-row {
  display: flex;
  width: 100%;
  height: Calc(100% / 12);
}

.top-row .player-outer-cell, .bottom-row .player-outer-cell{
  width: Calc(100% / 7);
  height: 100%;
}

.top-row .player-outer-cell.vertical, .bottom-row .player-outer-cell.vertical{
  width: Calc(100% / 14);
  height: 100%;
}

.middle-rows {
  display: flex;
  width: 100%;
  height: Calc(100% * 10 / 12)
}

.left-column, .right-column {
  width: Calc(100% / 14);
  height: 100%;
}

.left-column .player-outer-cell, .right-column .player-outer-cell {
  width: 100%;
  height: Calc(100% / 5);
}

.middle-columns {
  width: Calc(100% * 12 / 14);
  height: 100%;
}

.middle-row {
  display: flex;
  width: 100%;
  height: Calc(100% / 5);
}

.player-cell {
  height: 100%;
  width: Calc(100% / 6);
}

.remaining-tile-grid {
  width: 600px;
  height: 600px;
}

.remaining-tile-row {
  display: flex;
  height: Calc(100% / 6);
  width: 100%;
}

.remaining-tile-cell {
  height: 100%;
  width: Calc(100% / 6);
}